body{

	position: cover;
	background-image: url(http://themovieblog.com/wp-content/uploads/2013/05/fast_and_furious_6_banner.jpg);
	background-repeat: no-repeat center center;
	background-size: cover;
}

label{

	color: white;
}

.text-border-2 {
    text-shadow: 2.5px 0 #000,
        -2.5px 0 #000,
        0 2.5px #000,
        0 -2.5px #000,
        2.5px 2.5px #000,
        -2.5px -2.5px #000,
        2.5px -2.5px #000,
        -2.5px 2.5px #000;
}

.text-border-1 {
    text-shadow: 1.0px 0 #000,
        -1.0px 0 #000,
        0 1.0px #000,
        0 -1.0px #000,
        1.0px 1.0px #000,
        -1.0px -1.0px #000,
        1.0px -1.0px #000,
        -1.0px 1.0px #000;
}

#titolo_gioco{

	color:black;
}